<nav th:fragment="nav" class="navbar navbar-light navbar-expand navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 30px;">EnglishSchool</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav me-auto" style="font-size: 24px;">
                <li class="nav-item"><a class="nav-link" href="/subs">Занятия</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/users">Клиентская база</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/stats">Статистика</a></li>
                <li th:if="${role == 'CLIENT'}" class="nav-item"><a class="nav-link" href="/subs/my">Курсы английского</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/progress">Продвижение учащихся</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login">Учебный профиль</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/reg">Новый профиль</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/logout">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>
